@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    margin: 0;
    padding: 0;
    font-family: "Moderustic", system-ui;
}
.site{
    /* position relative serve para alterar dependendo do monitor da pessoa */
    position: relative;
    /* margin auto para sempre mantenha centralizado o conteudo */
    margin: auto;
    width: 1000px;
    height: auto;
    /* background-color: #6D8FB3; */
    
}
.topo {
    position: relative;
    width: 100%;
    height: 150px;
    
    

}

.logo {
    position: relative;
    margin:auto;
    height: 150px;
    width: 150px;   
    
    
    
}
.menu {
    position: relative;
    width: 100%;
    height: 50px;
    border-top: solid #232B33 ;
   
    
    
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    margin: 0;
    font-family: "Moderustic", system-ui;
    font-weight: 500;
    font-size: 20px;   
    
}

.menu ul li a {
    float: left;
    padding: 13px 30px;
    text-decoration: none;
    color:inherit;
}
.menu ul li a:hover{
    background-color: #232B33;
    color: white;
    transition: 0.2s ease-in-out;
}

.banner{
    position: relative;
    width: 100%;
    height: 400px;   
    background: url('../Imagens/imagem\ para\ banner.jpg');
    background-position: center;
    background-size: cover; 
    display: flex;   
    justify-content: center;
    align-items: center;
    
}
.banner h1 {
    font-family: "Moderustic", system-ui ;
    font-size: 65px;
    color: white; 
}

@keyframes fadeIn {
    0% {opacity: 0%;}
    20% {opacity: 100%;}
    80% {opacity: 100%;}
    100% {opacity: 0%;}
}
.animated-title {
    font-size: 3em;
    animation: fadeIn 10s ease-in-out infinite; 
}
.conteudo {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 50px 0;
}
.box {
    position: relative;
    float: left;
    width: 300px;
    height: 500px;
    background-color: #232B33;
    margin-right: 50px;    
    box-sizing: border-box;
    border-radius:  15px 15px 0px 0px;
    transition: all 0.5s ease-in-out;
    
    
}
.box:hover{
    transform: scale(1.1);
    /* transition: 0.5s ease-in-out; */
    

}


.box:last-child {
    margin: 0;
}


.box img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    box-shadow:0px 5px 10px
      
    
}

.box h2, .box p {
    padding: 10px;
    color: white;
    
    
}
.box h2 {
    text-align: center;
    font-family: "Open Sans", system-ui;
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
}
.box p {
    font-family: "Moderustic", system-ui;
    font-size: 15px;
    font-weight: 100;
    margin-top: 40px;
}


.rodape {
    position: relative;
    width: 100%;
    height: 200px;
    background-color:#232B33
}

.rodape-coluna {
    position: relative;
    width: 33%;
    height: auto;
    float: left;

}
.rodape-coluna img {
    margin-left: 40px;
    margin-top: 40px;
    

}
.rodape-coluna ul {
    list-style: none;
    padding-left: 0;
    
}
.rodape-coluna ul li a {
    color: inherit;
    text-decoration: none;
    
}
.lista-rodape li  {
    margin-bottom: 10px;
    color: white;
    
}
.lista-rodape {
    margin-top: 20px;
    align-items: center;
}
.lista-icones li{
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 30px;
    color: white;
    
}
.rodape-coluna li a:hover {
    color: #8198af;
}
